.section3{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 10px 200px 10px 200px;
    text-align: center;
 }
 
 .section3 h4{
    font-size: 25px;
 }
 .section3 h1{
    font-size: 80px;
 }
 .icon-box{
    background-color: gray;
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 200px;
    padding: 30px 20px 10px 20px;
    border-radius: 20px;
 }
 .focus{
    display: flex;
    flex-wrap: wrap;
 }
 .feature-container{
   display: flex;
   /* flex-direction: column; */
   height: 100vh;
   justify-content: center;
   width: 100%;
   border: 5px solid red;
 }
 .feature-section{
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: center;
   width: 80%;
   border: 5px solid blue;
   overflow-y: scroll;
   white-space: nowrap;
}
.feature-contain{
   border: 5px solid purple;
   height: 1000px !important;
   /* padding: 1000px 0; */
 }
 .feature-contain h1{
   font-size: 100px;
 }
 .feature-img{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .blue h1{
   color: #3c53bf;
}
.purple h1{
   color: #930bff;
}
.green h1{
   color: #008a6e;
}
