.team1{
    background-color: rgb(230, 63, 63);
    color: aliceblue;
}
.our-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single-person{
    text-align: center;
    border: 5px solid gray;
    margin: 5px;
    border-radius: 8px;
}