.footer-box{
    background-color: black;
    color: aliceblue;
    padding: 30px 30px 30px 40px;
}
.footer-box h1{
    font-size: 65px;
}
.bootom-firstline{
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 50px;
}
.bootom-firstline h6{
    padding-left: 50px;
    font-size: 20px;
}
.bootom-firstline img{
    justify-content: right;
}
.footer-pages{
    justify-content: end;
    display: flex;
    flex-wrap: wrap;    
}
.social-icons{
    display: flex;
    justify-content: end;
    padding-right: 100px;
}
.social-icons i{
    padding-left: 50px;
    border-radius: 25px;
}

.zl-outro-nav{
    color: aliceblue;
}